@inherits LayoutComponentBase
@inject IJSRuntime js
@inject AuthenticationStateProvider AuthenticationState
@inject NavigationManager NavigationManager
<PageTitle>TimeOutPoc</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("initializeInactivityTimer", DotNetObjectReference.Create(this));
        }
        await base.OnAfterRenderAsync(firstRender);
    }



    [JSInvokable]
    public async Task Logout()
    {
        var authState = await AuthenticationState.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated  )
        {
            NavigationManager.NavigateTo("Identity/Account/Login", true);
        }
    }
}